{% extends "base.html" %}

{% load thumbnail %}
{% load tz %}

{% block title %}{{ news.name }}{% endblock %}

{% block content %}

	<div id="page">
		<h3><a href="news/archive/">Новости</a> > {{ news.name }}</h3>

		<p><a class=fancybox data-fancybox-group=gallery title='{{ news.name }}' href={{MEDIA_URL}}{{ news.mainpic }}>
		{% thumbnail news.mainpic "150x100" crop="center" as main %}
			<img src="{{ main.url }}" style="float: left; margin: 7px 15px 7px 0;">
		{% endthumbnail %}</a>

		<em>{% localtime off %}{{news.putdate}}{% endlocaltime %} &nbsp;&nbsp;::&nbsp;&nbsp; {{ news.source }}
		</em></p>
		<p>{{ news.body|safe|linebreaks }}</p><br>

		<div id="grid">
			<ul>
			{% for img in news.pics.all %}
				<li class=''>
					<a class=fancybox data-fancybox-group=gallery title='{{ news.name }}' href={{MEDIA_URL}}{{ img.pic }}>
    					{% thumbnail img.pic "150x100" as im %}
    					<img src={{ im.url }}>
    					{% endthumbnail %}
					</a>
				</li>
			{% endfor %}
			</ul>
		</div>

	</div>

{% endblock %}