{% extends "base_cp.html" %}

{% load tz %}

{% block title %} {% endblock %}

{% block content %}

<div id="content_big">

	<h2><a href=news/create/>Добавить новость</a></h2><br><br>
	
	<table class="cp_table"><tr><th width=15%>Дата</th><th>Новость</th><th width=5%>Доб. фото</th><th colspan=2>Изм./Уд.</th></tr>
	
	{% for post in news_list %}
		<tr class="post{{ post.id }}">
		  <td>{% localtime off %}{{post.putdate}}{% endlocaltime %}</td>
		  <td>{{ post.name }}</td>  
		  <td><a href=news/upload_pic/{{ post.id }}/><img src='static/img/actions/add_img.png' title='Доб. фотки'></a></td>             
		  <td><a href=news/edit/{{ post.id }}/><img src='static/img/actions/edit.png' title='Изменить'></a></td> 
		  <td><a id="{{ post.id }}" class="delete" name="post{{ post.id }}" href="#"><img src='static/img/actions/delete.png' title='Удалить'></a></td>
		 </tr>
	{% endfor %}	
	
	</table><br><br>

	<div style='margin-left: 30px; margin-bottom: 20px;'>
		<span class="step-links">
        {% if page_obj.has_previous %}
            <a href="news/cp?page={{ page_obj.previous_page_number }}"><< Пред.</a>
        {% endif %}

        <span class="current">
            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="news/cp?page={{ page_obj.next_page_number }}">След. >></a>
        {% endif %}
    	</span>
	</div>

    <div id="dialog-confirm" title="Удаление новости" style="display: none">
      <p>Вы действительно хотите удалить новость без возможности восстановления?</p>
    </div> 

    <script>
    $(document).ready(function(){
        $("a.delete").click(function(e) {
            e.preventDefault(); 
            var id = $(this).attr('id');
            var name = $(this).attr('name');

            $( "#dialog-confirm" ).dialog({
                resizable: false,
                width: 310, 
                height: "auto",
                modal: true,
                autoOpen: false, 
                show: { effect: "fade", duration: 800 }, 
                hide: { effect: "explode", duration: 1000 },
                buttons: {
                "Удалить": function() {
                  $.ajax({
                        url: 'news/delete/'+id+'/',
                        data: {'id': id},
                        success: function(r) {
                           $('table tr.'+name).remove();
                        }
                    });
                  $(this).dialog("close");
                },
                "Отмена": function() {
                  $( this ).dialog( "close" );
                }
                }
                });
            $("#dialog-confirm").dialog("open"); 
            return false;
        });
    });
    </script>    

</div>	

{% endblock %}