{% extends "base.html" %}

{% load thumbnail %}
{% load tz %}

{% block title %}ГКУ РД «Дорожный контроль»{% endblock %}

{% block content %}
<!--<div id="content">-->

        <div id="sidebar">
		    <div class="title_blue">
				<span class="title_txt">{% if user.is_authenticated %} {{ user.name }} {% else %} Авторизация {% endif %}</span> 
			</div>
			<ul>
				<div id="cam">
					{% if user.is_authenticated %}
					    <a href=user/cp/><span>Личный кабинет</span></a><br>
					    <a href=user/logout/><span>Выход</span></a><br><br>
					{% else %}                                         
						<form action="user/login/" method="post">
    					{% csrf_token %}
    					<input type="text", name="username", placeholder=" логин">
    					<input type="password", name="password", placeholder=" пароль">
    					<input type="submit" value="Вход">
    					</form>
					{% endif %}				
				</div>
				<div id="cam"><a href="reports/weather/"><img src='static/img/sidebar/pogoda.png'></a></div>
				<div id="cam"><a href="roads/progress/112/"><img src='static/img/sidebar/xod.png'></a></div>
				<div id="cam"><a href="webcam/ip/"><img src='static/img/sidebar/videomon.jpg'></a></div>
			</ul>	
		</div>

		<div id="panel">
			<div id="panel_info">
				<div class="title_blue">
					<span class="title_txt">Ход работ</span> 
					<div class="all_link"><a href="roads/progress/112/">Все объекты</a></div>
				</div>
				<ul>
					<li><a href="roads/progress/112/">Реконструкция автомобильной дороги Махачкала - Каспийск</a></li>
					<li><a href="roads/progress/108/">Реконструкция автомобильной дороги Агвали - Шаури - Кидеро</a></li>
					<li><a href="roads/progress/71/">Реконструкция автомобильной дороги Ботлих - Карата</a></li>
				</ul>
			</div>
			
			<div id="panel_docs">
				<div class="title_blue">
					<span class="title_txt">Документы</span> 
					<div class="all_link"><a href="docs/">Все документы</a></div>
				</div>
				<ul>
				    <li><a href=upload/docs/Приказ_от_1_июня_2016_г._25_О_введении_временного_ограничения.pdf target="blank">Приказ от 1 июня 2016 г. №25 О введении временного ограничения движения транспортных средств по мосту...</a></li>
				    <li><a href=upload/docs/График_представления_отчетов_за_2015_год_8oidqbM.pdf target="blank">График представления бухгалтерской отчетности ДЭП за 2015 год</a></li>
					<li><a href=upload/docs/Постановление_Правительства_РД_от_26.01.2016_г.__11_Вопросы_Агентства_по_дорожному_хозяйству_РД.pdf target="blank">Постановление Правительства РД от 26.01.2016 г. № 11 Вопросы Агентства по дорожному хозяйству Республики Дагестан</a></li>
				</ul>
			</div>
		</div>

		<div id="panel">
			<div id="panel_info">
				<div class="title_blue">
					<span class="title_txt">Интернет-ресурсы</span> 
				</div>
				<ul>
					<div class="bn"><a href="http://mintrans.ru/" target="blank"><img src='http://dk.dagavtodor.ru/static/img/banners/mintransrf.png' title="Министерство транспорта Pоссийской Федерации"></a></div>
					<div class="bn"><a href="http://rosavtodor.ru/" target="blank"><img src='http://dk.dagavtodor.ru/static/img/banners/rosavtodor.png' title="Федеральное дорожное агентство (Росавтодор)"></a></div>					
					<div class="bn"><a href="http://pravo.gov.ru/" target="blank"><img src='http://dk.dagavtodor.ru/static/img/banners/gspi.png' title="Официальный интернет-портал правовой информации"></a></div>
					<div class="bn"><a href="http://daggossluzhba.ru/" target="blank"><img src='http://dk.dagavtodor.ru/static/img/banners/daggossluzhba.png' title="Республиканский портал государственной службы и кадров"></a></div>			
				</ul>
			</div>
			
			<div id="panel_docs">
				<div class="title_blue">
					<span class="title_txt">Экстренные службы</span> 
				</div>
				<ul>
				    <li><span><b>МЧС: </b>010 (моб. тел.), 67-32-42 (дежурный)</span></li>
					<li><span><b>МВД: </b>020 (моб. тел.), 99-45-00 (дежурный)</span></li>
					<li><span><b>ГИБДД: </b>99-46-96 (дежурный)</span></li>
					<li><span><b>Скорая помощь: </b>030 (моб. тел.)</span></li>	
					</ul>
			</div>
		</div>

{% endblock %}
