<!DOCTYPE html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{{ org.fullname }}</title>
<base href="http://dagavtodor.ru/">
<link href="static/dep/styles.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="main">
<div id="header">
	<div id="logo">
		<h1><a href="dep{{ org.id }}/">{{ org.fullname }}</a></h1>
		<h2></h2>
	</div>
</div>
<hr />

<div id="page">
	<div id="content">
		<div class="post">
			<div class="entry">
			<h1>&nbsp;</h1>
			<h2>Официальный сайт {{ org.fullname }}</h2>
			<p>
			На этом сайте размещена информация ОАО, раскрываемая в соответствии с Положением о раскрытии информации эмитентами эмиссионных ценных бумаг, утвержденным <b>приказом ФСФР России от 04.10.2011 г. № 11-46/пз-н</b>, а также в соответствии с <b>приказом ФСФР России от 13.08.2009 г. № 09-33/пз-н</b> "Об особенностях порядка ведения реестра владельцев именных ценных бумаг эмитентами именных ценных бумаг" </p>
<p>
Основными видами деятельности ОАО являются: <br>


– производство общестроительных работ по строительству мостов, надземных автомобильных дорог, тоннелей и подземных дорог; <br>

– производство общестроительных работ по строительству автомобильных дорог, железных дорог и взлетно-посадочных полос аэродромов; <br>

– производство земляных работ; <br>

– подготовка участка для горных работ; <br>

– производство изделий из асфальта или аналогичных материалов; <br>

– эксплуатация автомобильных дорог общего пользования; <br>

– эксплуатация дорожных сооружений (мостов, туннелей, путепроводов и т.п.).<br>
			</p>
			<p>
				{{ org_info.info|linebreaksbr }}
			</p>
			</div>
		</div>
	</div>

	<div style="clear: both;">&nbsp;</div>
</div>
<hr />

<div id="footer">
	<p>&copy; 2016. Разработан в ГКУ "Дагестанавтодор", Отдел информационных технологий</p> 
</div>
</div>
</body>
</html>