{% extends "base.html" %}

{% block title %}{{org.name}}{% endblock %}

{% block content %}

	<div id="page">
		<h3>{{org.name}}</h3>

			<p>
			{% if org.address %} {{org.address}}, {{org.phone}}<br> {% endif %}
			{% if org.email %} e-mail: {{org.email}}<br> {% endif %}
			{% if org.site %} Сайт: <a href=http://{{org.site}} target=blank>{{org.site}}</a><br> {% endif %}
			{% if org.director %} Руководитель: {{org.director}}<br> {% endif %}
			<br>
			{{org.body}}
			</p>

	</div>

{% endblock %}