{% extends "base.html" %}

{% block title %}{{orgs_type}}{% endblock %}

{% block content %}

	<div id="page">
		<h3>{{orgs_type}}</h3>

		{% for org in orgs %}
			<p><span class='contractor'>{{org.name}}</span><br>
			{% if org.address %} {{org.address}}, {{org.phone}}<br> {% endif %}
			{% if org.email %} e-mail: {{org.email}}<br> {% endif %}
			{% if org.site %} Сайт: <a href=http://{{org.site}} target=blank>{{org.site}}</a><br> {% endif %}
			{% if org.director %} Руководитель: {{org.director}}<br> {% endif %}
			</p>
		{% endfor %}

	</div>

{% endblock %}