{% extends "base_cp.html" %}

{% load widget_tweaks %}

{% block title %} {% endblock %}

{% block content %}

<script type="text/javascript">
function changeText(){
 var id_count_all = 0;
 id_count_all += parseFloat(document.getElementById('id_count_current').value);
 document.getElementById('id_count_all').value = id_count_all;
}
</script>

<div id="content_big">

    <h2>Электронный журнал работ по содержанию</h2><br>


    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
		
    <form action="" method="post">
        {% csrf_token %} 
        {{ form.non_field_errors }}
        {{ data_formset.management_form }}
<table class="journal_table">
<tr>
<td><strong>Номер<br> позиции<br> по смете</strong></td>
<td><strong>Наименование работ</strong></td> 
<td><strong>Номер<br> единичной<br> расценки</strong></td>
<td><strong>Единица<br> измерения</strong></td>
<td><strong>Количество<br> с начала<br> квартала</strong></td>
<td><strong>Количество<br> за сегодня</strong></td>
<td><strong>Цена за<br>единица<br> измерения</strong></td>
<td><strong>Стоимость<br> с начала<br> квартала</strong></td> 
<td><strong>Стоимость<br> за сегодня</strong></td> 
<td><strong>Адрес<br> проведения<br> работ</strong></td>
</tr>

        {% for data_form in data_formset %}
            <tr>
                <td>{{ data_form.work_type_pos_smeta }}</td>
                <td>{{ data_form.work_type_name }} </td>
                <td>{{ data_form.work_type_num_unit }} </td>
                <td>{{ data_form.work_type_unit }} </td>

                <td>{{ data_form.count_all }}
                {% if data_form.count_all.errors %}
                    {% for error in data_form.count_all.errors %}
                        {{ error|escape }}
                    {% endfor %}
                {% endif %}</td>

                <td>{{ data_form.count_current }}
                {% if data_form.count_current.errors %}
                    {% for error in data_form.count_current.errors %}
                        {{ error|escape }}
                    {% endfor %}
                {% endif %}</td>

                <td>{{ data_form.work_type_price_unit }}</td>

                <td>{{ data_form.val_all }}
                {% if data_form.val_all.errors %}
                    {% for error in data_form.val_all.errors %}
                        {{ error|escape }}
                    {% endfor %}
                {% endif %}</td>

                <td>{{ data_form.val_current }}
                {% if data_form.val_current.errors %}
                    {% for error in data_form.val_current.errors %}
                        {{ error|escape }}
                    {% endfor %}
                {% endif %}</td>

                <td>{{ data_form.position }}
                {% if data_form.position.errors %}
                    {% for error in data_form.position.errors %}
                        {{ error|escape }}
                    {% endfor %}
                {% endif %}

                {{ data_form.work_type_id }}</td>
            </div>
        {% endfor %}

        <tr><td style="border: 0;">
        {% if data_formset.non_form_errors %}
            {% for error in data_formset.non_form_errors %}
                {{ error|escape }}
            {% endfor %}
        {% endif %}
        </td></tr>

        <tr><td style="border: 0; text-align: right;" colspan="10">
        <input type="submit" value="Сохранить" class="button"/>
        </td></tr>

</table>      
    </form>

</div>	  

{% endblock %}