{% extends "base_cp.html" %}

{% block title %} {% endblock %}

{% block content %}

<div id="content_big">

	<div class=chart>

	{% for contractor in contractors %}
	
	<h2>{{contractor.name}}</h2>  
	<table class="cp_table">
	{% for row in contractor.proj.all %}
		<tr>
			<td rowspan=2 width=400><strong>{{row.name}}</strong><br>Стоимость: {{row.price}} тыс. руб.</td>
			<td style='border-width: 0'>Выполнение: <strong>{{row.exe}} тыс. руб. ({{ row.exe_perc }} %)</strong>&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td style='border-width: 0'>Оплата: <strong>{{row.getsum}} тыс. руб. ({{ row.exe_getsum }} %)</strong></td>
		  </tr>
		  <tr> 
			<td colspan=2>  					
				<div class=pipe><div style='width: {{row.exe_perc}}%'></div></div>
				<div class=pipe2><div style='width: {{row.exe_getsum}}%'></div></div>
			</td>
		</tr>
	{% endfor %} 
	</table><br><br>
	
	{% endfor %} 

	</div>

</div>
{% endblock %}