{% extends "base_cp.html" %}

{% block title %} {% endblock %}

{% block content %}

<div id="content_big">

    <h2><a href="roads/progress/reports/{{id}}/"><<<список отчетов</a></h2>
            
    <form action="" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <h3><strong>{{form.name.label}}</strong>        
        {% for error in form.name.errors %}
        <span style="color: red;">[{{error}}]</span>
        {% endfor %}</h3>
        {{form.name}}

        <h3> </h3>
        <input type="submit" value="Сохранить">
    </form>

</div>  
{% endblock %}