{% extends "base.html" %}

{% block title %}Обращения граждан{% endblock %}

{% block content %}

    <div id="page">
        <h3>Обращения граждан</h3>

        <p align=center style='top:50%; left:50%; margin:-1px 0 0 -1px;'>
        <font color=green>Вопрос успешно занесен в нашу базу.<br> 
            Наш Ваш вопрос в скором времени ответят наши сотрудники. <br> Сейчас Вы будете перенаправлены на страницу &laquo;Обращения граждан&raquo;</font></p>
        <HTML><HEAD>
        <META HTTP-EQUIV='Refresh' CONTENT='15; URL=http://dagavtodor.ru/pressa/questions/'></HEAD></HTML>

    </div>

{% endblock %}