<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name='yandex-verification' content='43b867b92771cf8f' />
<title>{% block title %}{% endblock %}</title>
<!-- <base href="http://dk.dagavtodor.ru/"> -->
<base href="http://127.0.0.1:8000/">
<link rel="shortcut icon" href="http://dk.dagavtodor.ru/static/css/favicon.ico">
<link href='http://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700,700italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="http://dk.dagavtodor.ru/static/css/main.css">
<script src="http://dk.dagavtodor.ru/static/js/jquery-1.8.min.js"></script>
<script src="http://dk.dagavtodor.ru/static/js/jquery.liMenuHor.js"></script>
<script src="http://dk.dagavtodor.ru/static/js/jquery.validationEngine.js"></script>
<script src="http://dk.dagavtodor.ru/static/js/jquery.tips.js"></script>
<script src="http://dk.dagavtodor.ru/static/js/datepicker.js"></script>
<script type="text/javascript" src="http://dk.dagavtodor.ru/static/js/jquery.tablesorter.min.js"></script>
<script type="text/javascript" src="http://dk.dagavtodor.ru/static/js/zebra_accordion.js"></script>
<script type="text/javascript" src="http://dk.dagavtodor.ru/static/js/fancybox/jquery.fancybox.js?v=2.1.4"></script>
<link rel="stylesheet" type="text/css" href="http://dk.dagavtodor.ru/static/js/fancybox/jquery.fancybox.css?v=2.1.4" media="screen" />
<script type="text/javascript" src="http://dk.dagavtodor.ru/static/js/fancybox/helpers/jquery.fancybox-media.js?v=1.0.6"></script>
<script type="text/javascript" src="http://dk.dagavtodor.ru/static/js/dad.js"></script>
</head>

<body>
<!--<script type="text/javascript" src="http://navigator.e-dag.ru/js/widget.js"></script>-->
<div id="container">

	<div id="lenta">
		<div class="ct">
			e-mail: dorkontrol@e-dag.ru | тел./факс: (8722) 51-76-19 
		</div>
		<div class="soc_icons">

		</div>
	</div>
	
	<div id="header">
		<a href=""><div id="header_1"></div></a>
		<div id="header_2">
			<img src="static/img/header/2.png" style="margin-top: 5px;">
		</div>
	</div>
	
	<div id="topbar">
		<div class="sample" style="z-index:8">
			<ul class="menu_hor">
				<li><a href="/">ГЛАВНАЯ</a></li>
				<li><a>УЧРЕЖДЕНИЕ</a>
					<ul>	
					    <li><a href="page/ob-agentstve/">Об Учреждении</a></li>
						<li><a href="page/rukovodstvo/">Руководство</a></li>
						<li><a href="page/struktura-agentstva/">Структура</a></li>
						<li><a href="orgs/pv/">Подведомственные организации</a></li> 
						<li><a href="contacts/">Контакты</a></li>
					</ul>
				</li>
				<li><a href="docs/">ДОКУМЕНТЫ</a>
				</li>
				<li><a>ДЕЯТЕЛЬНОСТЬ</a>
					<ul>
						<li><a href="roads/">Важнейшие объекты</a></li>
						<li><a href="roads/progress/105/">Ход работ на важнейших объектах</a></li>
					</ul>
				</li>
				<li><a>ДОРОЖНОЕ ХОЗЯЙСТВО</a>
					<ul>
						<li><a href="page/set-avtomobilnyh-dorog-rd/">Сеть автомобильных дорог РД</a></li>
						<li><a href="page/struktura-obsluzhivaemoj-seti-dorog/">Структура обслуживаемой сети дорог</a></li>						
						<li><a href="maps/">Информационные карты районов</a></li>
						<li><a href="page/bdd/bezopasnost-dorozhnogo-dvizheniya/">Безопасность дорожного движения</a></li>
						<li><a href="orgs/dep/">Дорожно-эксплуатационные предприятия</a></li>
						<li><a href="orgs/vne/">Внешние подрядчики</a></li>
					</ul>
				</li>
				<li><a>МОНИТОРИНГ</a>
					<ul>						
						<li><a href="reports/weather/">Дорожные и погодные условия</a></li>
						<li><a href="roads/webcam/ip/">Видеомониторинг</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	
	<div id="content">

        {% block content %}{% endblock %}    

	</div>

	<div id="extra"></div>
</div>
</body>
</html>