{% load navbar %}
<!DOCTYPE html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta http-equiv="Cache-Control" content="no-cache">
<title>Личный кабинет - {{ user.name}}</title>
<!-- <base href="http://dagavtodor.ru/"> -->
<base href="http://127.0.0.1:8000/">
<link href="http://dagavtodor.ru/static/css/user.css" rel="stylesheet" type="text/css">
<script src="http://dagavtodor.ru/static/js/jquery-1.8.min.js"></script>
<script type="text/javascript" src="http://dagavtodor.ru/static/js/fancybox/jquery.fancybox.js?v=2.1.4"></script>
<link rel="stylesheet" type="text/css" href="http://dagavtodor.ru/static/js/fancybox/jquery.fancybox.css?v=2.1.4" media="screen" />
<script type="text/javascript">
	$(document).ready(function() {
		$('.fancybox').fancybox();
		});	
</script>&nbsp;

<!-- tooltips -->
<script src="http://dagavtodor.ru/static/js/jquery.tips.js"></script>
<script type="text/javascript">
	$(function()
	{
		$('.tip').liTip();
	});
</script>

<!-- calendar -->
<script src="http://dagavtodor.ru/static/js/datepicker.js"></script>

<!-- slug -->
<script src="http://dagavtodor.ru/static/js/slug/speakingurl.js"></script>
<script src="http://dagavtodor.ru/static/js/slug/slugify.min.js"></script>
<script>
jQuery(function($) {
  $('#slug-target').slugify('#slug-source'); // Type as you slug
});
</script>
</head>

<body>
<div id="wrapper">

	<div id="menu">	
		{% show_navbar %} 
		<span class="pr"><a href=user/logout/>Выход</a></span>
		<span class="pr"><a href=/>На главную</a></span>
	</div>
	
	<div id="page">
		
		 {% block content %}{% endblock %}  


<!-- <div id="sidebar">...</div> -->

		<div style="clear: both;">&nbsp;</div>
	</div>

</div>
</body>
</html>