{% extends "base_cp.html" %}

{% load thumbnail %}

{% block title %} {% endblock %}

{% block content %}

<div id="content_big">

	<h2>Обращения граждан</h2><br><br>
	
	<table class="cp_table"><tr><th width=15%>Дата</th><th>Имя</th><th width=50%>Сообщение</th><th>Ответ</th><th colspan=3>Действия</th></tr>
	
	{% for post in question_list %}
		<tr class="post{{ post.id }}">
		  <td>{{ post.putdate }}</td>
		  <td>{{ post.name }}<br>{{post.city}} - {{post.email}}</td>  
		  <td>{{post.msg}}<br><br>
		  	{% if post.img != '' %}
				<a class=fancybox data-fancybox-group=gallery href={{MEDIA_URL}}{{post.img}}>
				{% thumbnail post.img "120x80" as im %}
				<img src={{ im.url }}></a>&nbsp;&nbsp;	
				{% endthumbnail %}
				{% endif %}
		  </td>
		  <td>
				{% if post.answer == '' %}
				<img src='static/img/icons/no.png' title='Ответа нет'>	
				{% else  %}
				<img src='static/img/icons/yes.png' title='Ответ есть'>
				{% endif %}
		  </td>
		  <td><a href=faq/edit/{{post.id}}/><img src='static/img/actions/edit.png' title='Редактировать'></a></td>
		  <td>
			{% if post.hide == 1 %}
			<a href=faq/showhide/{{post.id}}/0/><img src='static/img/actions/show.png' title='Отобразить сообщение на сайте'></a>
			{% else  %}
			<a href=faq/showhide/{{post.id}}/1/><img src='static/img/actions/hide.png' title='Скрыть сообщение'></a>
			{% endif %}
		  </td>
		  <td><a id="{{post.id}}" class="delete" name="post{{ post.id }}" href="#"><img src='static/img/actions/delete.png' title='Удалить'></a></td>
		</tr>
	{% endfor %}	
	
	</table><br><br>

	<div style='margin-left: 30px; margin-bottom: 20px;'>
		<span class="step-links">
        {% if page_obj.has_previous %}
            <a href="faq/cp?page={{ page_obj.previous_page_number }}"><< Пред.</a>
        {% endif %}

        <span class="current">
            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="faq/cp?page={{ page_obj.next_page_number }}">След. >></a>
        {% endif %}
    	</span>
	</div>

    <div id="dialog-confirm" title="Удаление сообщения" style="display: none">
      <p>Вы действительно хотите удалить сообщение без возможности восстановления?</p>
    </div> 

    <script>
    $(document).ready(function(){
        $("a.delete").click(function(e) {
            e.preventDefault(); 
            var id = $(this).attr('id');
            var name = $(this).attr('name');

            $( "#dialog-confirm" ).dialog({
                resizable: false,
                width: 310, 
                height: "auto",
                modal: true,
                autoOpen: false, 
                show: { effect: "fade", duration: 800 }, 
                hide: { effect: "explode", duration: 1000 },
                buttons: {
                "Удалить": function() {
                  $.ajax({
                        url: 'faq/delete/'+id+'/',
                        data: {'id': id},
                        success: function(r) {
                           $('table tr.'+name).remove();
                        }
                    });
                  $(this).dialog("close");
                },
                "Отмена": function() {
                  $( this ).dialog( "close" );
                }
                }
                });
            $("#dialog-confirm").dialog("open"); 
            return false;
        });
    });
    </script>    

</div>	

{% endblock %}