{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}Обращения граждан{% endblock %}

{% block content %}

    <div id="page">
        <h3>Обращения граждан</h3>
            
            <div id="faqform">
                <form id="faq_valid" class="formular" enctype='multipart/form-data' action='' method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}

                <strong>{{form.name.label}}</strong>        
                {% for error in form.name.errors %}
                <span style="color: red;">[{{error}}]</span>
                {% endfor %}
                {{form.name|attr:"size:60"|add_class:"validate[required,length[0,50]]"}}

                <strong>{{form.city.label}}</strong>        
                {% for error in form.city.errors %}
                <span style="color: red;">[{{error}}]</span>
                {% endfor %}
                {{form.city|attr:"size:60"}}

                <strong>{{form.address.label}}</strong>  
                <i>(на сайте не публикуется)</i>      
                {% for error in form.address.errors %}
                <span style="color: red;">[{{error}}]</span>
                {% endfor %}
                {{form.address|attr:"size:60"|add_class:"validate[required,length[20,100]]"}}

                <strong>{{form.email.label}}</strong>
                <i>(ответ может быть выслан на него, на сайте не публикуется)</i>        
                {% for error in form.email.errors %}
                <span style="color: red;">[{{error}}]</span>
                {% endfor %}
                {{form.email|attr:"size:60"}}

                <strong>{{form.msg.label}}</strong>       
                {% for error in form.msg.errors %}
                <span style="color: red;">[{{error}}]</span>
                {% endfor %}
                {{form.msg|attr:"rows:8"|attr:"cols:80"|add_class:"validate[required,length[20,300000]]"}}

                <strong>{{form.img.label}}</strong> <i>(при наличии)</i> 
                {% for error in form.img.errors %}
                <span style="color: red;">[{{error}}]</span>
                {% endfor %}
                {{form.img}}
                
                <input type="submit" class="submit" value="Отправить">   

                <p><font size=1px>* - звездочкой отмечены обязательные для заполнения поля</font></p>
                </form><br><br>
                
                <p>
                <a href="#inline" class="various">Памятка по обращению граждан</a>

                <div id="inline" style="width: 600px; display: none; color: #33343f; font-size: 14px;">
                <p>
                <b>Вниманию заявителей!</b><br><br>
                &nbsp;&nbsp;&nbsp;&nbsp;В соответствии с пунктом 6 ст. 13 Федерального закона от 08.11.2007    № 257-ФЗ "Об автомобильных дорогах и о дорожной деятельности в Российской Федерации и о внесении изменений в отдельные законодательные акты Российской Федерации" предусмотрено, что осуществление дорожной деятельности в отношении автомобильных дорог местного значения отнесено к полномочиям органов местного самоуправления городских поселений, муниципальных районов, городских округов.<br><br>

                &nbsp;&nbsp;&nbsp;&nbsp;Таким образом, по вопросам в области использования автомобильных дорог местного значения и осуществления дорожной деятельности в границах городских поселений, муниципальных районов и городских округов гражданам следует обращаться в администрации соответствующих муниципальных образований.<br><br>

                &nbsp;&nbsp;&nbsp;&nbsp;Вопросы, связанные с федеральной автодорогой "Кавказ" (М29), входят в компетенцию <a class=bibl href="http://dorkaspiy.ru/19.html" target=blank>Филиала ФКУ Упрдор «Каспий» в Республике Дагестан</a>
                </p>
                </div>
                </p>
            </div>

    </div>

{% endblock %}